@model InvoicePaymentViewModel

<form method="post">
    <div class="row ">
        <input type="hidden" asp-for="InvoicePayment.Id" />
        <div class="row">
            <div class="input-group-sm col-7 pt-4">
                <div class="form-group row pt-1">
                    <div class="input-group-sm col-4">
                        Référence
                    </div>
                    <div class="input-group-sm col-3">
                        <input asp-for="InvoicePayment.Number" class="form-control" disabled />
                    </div>
                </div>
                <div class="form-group row pt-1">
                    <div class="input-group-sm col-4">
                        Date
                    </div>
                    <div class="input-group-sm col-3">
                        <input asp-for="InvoicePayment.Date" class="form-control" disabled />
                    </div>
                </div>
                <div class="form-group row pt-1">
                    <div class="input-group-sm col-4">
                        Nom du client
                    </div>
                    <div class="input-group-sm col-6">
                        <input asp-for="InvoicePayment.InvoiceHeader.Customer.Name" class="form-control" disabled />
                    </div>
                </div>
                <div class="form-group row pt-1">
                    <div class="input-group-sm col-4">
                        Contact du client
                    </div>
                    <div class="input-group-sm col-6">
                        <input asp-for="InvoicePayment.InvoiceHeader.Customer.PhoneNumber" class="form-control" disabled />
                    </div>
                </div>
                <div class="form-group row pt-1">
                    <div class="input-group-sm col-4">
                        Montant payé
                    </div>
                    <div class="input-group-sm col-3">
                        <input asp-for="InvoicePayment.AmountPaid" class="form-control text-end" asp-format="{0:N0}" disabled />
                    </div>
                </div>
                <div class="form-group row pt-1">
                    <div class="input-group-sm col-4">
                        Mode de règlement
                    </div>
                    <div class="input-group-sm col-3">
                        <input asp-for="InvoicePayment.PaymentMode.DisplayText" class="form-control" disabled />
                    </div>
                </div>
                @if (!string.IsNullOrWhiteSpace(Model.InvoicePayment.TransactionNumber))
                {
                    <div class="form-group row pt-1">
                        <div class="input-group-sm col-4">
                            N° de transaction
                        </div>
                        <div class="input-group-sm col-6">
                            <input asp-for="InvoicePayment.TransactionNumber" class="form-control" disabled />
                        </div>
                    </div>
                }
                <hr />
                <div class="form-group row pt-1">
                    <div class="input-group-sm col-4">
                        N° de la facture
                    </div>
                    <div class="input-group-sm col-3">
                        <input asp-for="InvoicePayment.InvoiceHeader.Number" class="form-control" disabled />
                    </div>
                </div>
                <div class="form-group row pt-1">
                    <div class="input-group-sm col-4">
                        Montant net à payer
                    </div>
                    <div class="input-group-sm col-3">
                        <input asp-for="InvoicePayment.InvoiceHeader.NetAmountToPay" class="form-control text-end" asp-format="{0:N0}" disabled />
                    </div>
                </div>
                <div class="form-group row pt-1">
                    <div class="input-group-sm col-4">
                        Montant avancé
                    </div>
                    <div class="input-group-sm col-3">
                        <input asp-for="InvoicePayment.InvoiceHeader.AdvancedAmount" class="form-control text-end" asp-format="{0:N0}" disabled />
                    </div>
                </div>
                <div class="form-group row pt-1">
                    <div class="input-group-sm col-4">
                        Montant restant à payer
                    </div>
                    <div class="input-group-sm col-3">
                        <input asp-for="InvoicePayment.InvoiceHeader.RemainingAmountToPay" class="form-control text-end" asp-format="{0:N0}" disabled />
                    </div>
                </div>
                <hr />
                <div class="form-group row pt-1 pb-1">
                    <div class="d-inline-block">
                        <div class="row">
                            <div class="input-group-sm col">
                                <a onclick="showInPopup('@Url.Action("AddOrEdit","InvoicePayment",new {id=@Model.InvoicePayment.Id, returnToDetailView = true},Context.Request.Scheme)','Modification d\'un paiement de commission')" class="btn btn-sm btn-success form-control" style="cursor:pointer">
                                    <partial name="_IconEdit" />&nbsp; Modifier
                                </a>
                            </div>
                            <div class="input-group-sm col">
                                <a onclick="showInPopup('@Url.Action("Cancel","InvoicePayment",new {id=@Model.InvoicePayment.Id, returnToDetailView = true},Context.Request.Scheme)','Annulation d\'un paiement de commission')" class="btn btn-sm btn-danger form-control" style="cursor:pointer">
                                    <partial name="_IconCancel" />&nbsp; Annuler
                                </a>
                            </div>
                            <div class="input-group-sm col">
                                <a asp-action="Print" asp-route-id="@Model.InvoicePayment.Id" class="btn btn-sm btn-info form-control">
                                    <partial name="_IconPrint" />&nbsp;Imprimer
                                </a>
                            </div>
                            <div class="input-group-sm col">
                                <a asp-action="Index" class="btn btn-sm btn-warning form-control">
                                    <partial name="_IconReturn" />&nbsp;Quitter
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
